@import url(./header.css);

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}




section {
    text-align: center;
    padding: 20px;
}

section h1 {
    color: #007ea7;
    font-size: 2.5em;
    margin-bottom: 20px;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #001f3f;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    text-transform: lowercase;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9em;
    line-height: 1.5;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #007ea7;
    color: white;
    font-size: 14px;
}


.search-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.search-container input {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}
